.question {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.9rem;
  color: #293264;
  margin-bottom: 4rem;
}

.answers {
  list-style-type:none;
  padding:0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.answers input[type="radio"] {
 opacity:0.011;
 z-index:100;
}

.answers input[type="radio"]:checked + label {
 background-color: #D6DBF5;
}

.answers label {
  padding:1rem 2rem;
  border:1px solid #293264;
  cursor:pointer;
  z-index:90;
  border-radius: 8px;
  color:#293264;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2rem;
  text-align: center;
}

.answers label:hover {
  background-color: #e7e8f0;
}

.btn {
  background-color: #4D5B9E;
  border: 0;
  color: #FFF;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-top: 4rem;
}